
body {
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
}

.employee > p {
  margin: 2px 0px 8px 1px;
}

h2 {
  margin: 20px 0px 0px 60px;
  color: #585858;
}

#directory h3 {
  margin: 2px 0px 10px 1px;
  font-size: 1.2em
}

hr {
  width: 380px;
  color: #a5a9ac;
  margin-bottom: 20px;
}

.photo {
  border-radius: 100px;
  margin-right: 0px;
  margin-top: 15px;
}

.name {
  color: #00385b;
}

.avatar {
  float: left;
  clear: left;
  margin-right: 0px;
}

.userInfo {
  float: right;
  clear: right;
  margin-left: 0px;
  margin-top: 15px;
  width: 245px;
  position: relative;
  text-align: left;

}

.employee {
  border-style: solid;
  border-width: thin;
  border-color: #a5a9ac;
  border-radius: 10px;
  margin: 10px 20px 10px 20px;
  padding: 10px 40px 10px 40px;
  background: #fff;
  transition: all .4s ease-in-out;
}

.email,
.city {
  color: #a5a9ac;
  font-size: .85em;
}

#directory {
  margin: 0px 40px 20px 20px;
  padding: 20px 40px 20px 20px;
}

#modal {
  background: #fff;
  width: 450px;
  height: 480px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#modal p {
  text-align: center;
  margin-bottom: 15px;
  color: #a5a9ac;
}

#modalPhoto {
  border-radius: 100px;
  margin: 0 auto;
}

#modalAvatar {
  margin: 30px 0px 0px 0px;
}

#modal h3 {
  color: #00385b;
  font-size: 1.5em;
}

#modalCity,
#modalAddress,
#modal h3 {
  text-transform: capitalize;
}

#close {
  left: 90%;
  position: absolute;
  margin-top: 10px;
  background: #cd2f28;
  color: #fff;
  border-radius: 5px;
  transition: all .4s ease-in-out;
}

#previous,
#next {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  background: #00385b;
  border-radius: 100%;
  transition: all .4s ease-in-out;
}

#arrows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px
}

#previous {
  margin: 0px 0px 0px 40px;
}

#next {
  margin: 0px 40px 0px 0px;
}



/*======================
     PSEUDO CLASSES
=======================*/

.employee:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  cursor: pointer;
}

#previous:hover,
#next:hover {
  background: #0071aa;
  transform: scale(1.1);
  cursor: pointer;
}

#close:hover {
  background: #ff4545;
  transform: scale(1.1);
  cursor: pointer;
}
